@charset "utf-8";

// 主题色
$themeColor : #67cb89;
$themeBlue : #4e596e;

// 背景色
$bgColor : #f0f0f0;
$bgColorWhite : #fff;

// 边框色
$borderColor : #ddd;

// 字色
$fontSize:1.4rem;
$fontColor : #000;
$fontGray : #8695b1;

// 字类型
$fontFamily : "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", "STHeiti", "华文细黑", "sans-serif";

// layout
$topHeight : 6rem;
$leftWidth : 16rem;

// leftmenu
$leftMenuBg : #4e596e;
$leftMenuBgHover : #354052;
$leftMenuFontAct : #61bff5;

// 公共宽高
$mainWidth: 1500px;